In [22]:
import pandas as pd
import numpy as np

In [17]:
# sanmple dataset
data = {
    'Name': ['Alice', 'Bob', 'Charles', 'David', 'Eva'],
    'Math': [24, 37, 30, 22, 55], # test scores
    'Science': [89, 90, 67, 43, 78] # test scores
} 

#Defing dataframe
df = pd.DataFrame(data)
print(df)

      Name  Math  Science
0    Alice    24       89
1      Bob    37       90
2  Charles    30       67
3    David    22       43
4      Eva    55       78

## creating new coloumns based on calculated values as average

In [18]:
df['Average'] = (df['Math'] + df['Science']) / 2 # getting calculated average mark
print(df)

      Name  Math  Science  Average
0    Alice    24       89     56.5
1      Bob    37       90     63.5
2  Charles    30       67     48.5
3    David    22       43     32.5
4      Eva    55       78     66.5

## creating new coloumn based on condition, either pass or fail

In [19]:
df['Results'] = df['Average'].apply(lambda x: 'Pass' if x > 50 else 'Fail')
print(df)

      Name  Math  Science  Average Results
0    Alice    24       89     56.5    Pass
1      Bob    37       90     63.5    Pass
2  Charles    30       67     48.5    Fail
3    David    22       43     32.5    Fail
4      Eva    55       78     66.5    Pass

## creating a column with constant value

In [20]:
df['Year'] = 2025
print(df)

      Name  Math  Science  Average Results  Year
0    Alice    24       89     56.5    Pass  2025
1      Bob    37       90     63.5    Pass  2025
2  Charles    30       67     48.5    Fail  2025
3    David    22       43     32.5    Fail  2025
4      Eva    55       78     66.5    Pass  2025

## creating a cloumn to assing the grade

In [21]:
def grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    else:
        return 'C'
    if score <= 50:
        return 'D'    


df['Grade'] = df['Average'].apply(grade)
print(df)

      Name  Math  Science  Average Results  Year Grade
0    Alice    24       89     56.5    Pass  2025     C
1      Bob    37       90     63.5    Pass  2025     C
2  Charles    30       67     48.5    Fail  2025     C
3    David    22       43     32.5    Fail  2025     C
4      Eva    55       78     66.5    Pass  2025     C

## Creating a coloumn called math levele

In [24]:
df['Math_Level'] = df['Math'].apply(lambda x: 'High'if x > 80 else 'Low')
print(df)

      Name  Math  Science  Average Results  Year Grade Math_Level
0    Alice    24       89     56.5    Pass  2025     C        Low
1      Bob    37       90     63.5    Pass  2025     C        Low
2  Charles    30       67     48.5    Fail  2025     C        Low
3    David    22       43     32.5    Fail  2025     C        Low
4      Eva    55       78     66.5    Pass  2025     C        Low

## Creating new coloumn -> Science_Level
- How to use np.where

In [27]:

df['Science_Level'] = np.where(df['Science'] >= 90, 'Top', 'Average')
print(df)

      Name  Math  Science  Average Results  Year Grade Math_Level  \
0    Alice    24       89     56.5    Pass  2025     C        Low
1      Bob    37       90     63.5    Pass  2025     C        Low
2  Charles    30       67     48.5    Fail  2025     C        Low
3    David    22       43     32.5    Fail  2025     C        Low
4      Eva    55       78     66.5    Pass  2025     C        Low

  Science_Level
0       Average
1           Top
2       Average
3       Average
4       Average

## Creating new coloumn called grade description
- How to use the map function

In [30]:
df['Grade'] =  df['Math'].apply(lambda x: 'A' if x >= 90 else ('B' if x >= 80 else 'C'))

grade_map = {
    'A': "Execelent",
    'B': "Good",
    'C': "Can do better",
    'D': "Needs improvement",
}

df['Grade_Desc'] = df['Grade'].map(grade_map)
print(df)

      Name  Math  Science  Average Results  Year Grade Math_Level  \
0    Alice    24       89     56.5    Pass  2025     C        Low
1      Bob    37       90     63.5    Pass  2025     C        Low
2  Charles    30       67     48.5    Fail  2025     C        Low
3    David    22       43     32.5    Fail  2025     C        Low
4      Eva    55       78     66.5    Pass  2025     C        Low

  Science_Level     Grade_Desc
0       Average  Can do better
1           Top  Can do better
2       Average  Can do better
3       Average  Can do better
4       Average  Can do better