## Data type Conversion
- Converting data from one format to another format

In [41]:
import pandas as pd

In [42]:
# sanmple dataset
data = {
    #'Name': ['Alice', 'Bob', 'Charles', 'David', 'Eva'],
    'Age': ['24', '37', '30', '22', '55'], # test scores
    'Salary': [899000, 99090, 6098807, 478783, 787888], # test scores
    'Join_date': ['2025-01-01', '2025-05-03', '2025-02-23', '2025-05-07', '2025-01-15']
} 

#Defing dataframe
df = pd.DataFrame(data)
print(df)

  Age   Salary   Join_date
0  24   899000  2025-01-01
1  37    99090  2025-05-03
2  30  6098807  2025-02-23
3  22   478783  2025-05-07
4  55   787888  2025-01-15

In [43]:
# Checking original datatypes
df = pd.DataFrame(data)
print(df.dtypes)

Age          object
Salary        int64
Join_date    object
dtype: object

## Converting the Age strings into intergers

In [44]:
df['Age'] = df['Age'].astype(int)

In [45]:
# converting the dates
df['Join_date'] = pd.to_datetime(df['Join_date'])

In [46]:
print(df.dtypes)

Age                   int64
Salary                int64
Join_date    datetime64[ns]
dtype: object

## Advanced convertion features and techniques

In [47]:
#adding new coloumns for practice
df['Height'] = ['5.3', '6.7', '8.9', '5.4', '65.3']
df['Department'] = ['IT', 'HR', 'Finance', 'Procurement', 'Exco']
df['Experience'] = ['4', 'three', 'nine', 'twenty', '50']

print(df)

   Age   Salary  Join_date Height   Department Experience
0   24   899000 2025-01-01    5.3           IT          4
1   37    99090 2025-05-03    6.7           HR      three
2   30  6098807 2025-02-23    8.9      Finance       nine
3   22   478783 2025-05-07    5.4  Procurement     twenty
4   55   787888 2025-01-15   65.3         Exco         50

In [48]:
df['Height'] = df['Height'].astype(float)

In [49]:
print(df.dtypes)

Age                    int64
Salary                 int64
Join_date     datetime64[ns]
Height               float64
Department            object
Experience            object
dtype: object

In [50]:
## Converting department into catergory
df['Department'] = df['Department'].astype('category')

In [51]:
print(df.dtypes)

Age                    int64
Salary                 int64
Join_date     datetime64[ns]
Height               float64
Department          category
Experience            object
dtype: object

In [53]:
## Converting experience into numerics
df['Experience'] = pd.to_numeric(df['Experience'], errors='coerce')

In [54]:
print(df.dtypes)

Age                    int64
Salary                 int64
Join_date     datetime64[ns]
Height               float64
Department          category
Experience           float64
dtype: object

## end product deisplaying everything, after conversion

In [55]:
print(df)
print("\nData types:\n", df.dtypes)

   Age   Salary  Join_date  Height   Department  Experience
0   24   899000 2025-01-01     5.3           IT         NaN
1   37    99090 2025-05-03     6.7           HR         NaN
2   30  6098807 2025-02-23     8.9      Finance         NaN
3   22   478783 2025-05-07     5.4  Procurement         NaN
4   55   787888 2025-01-15    65.3         Exco         NaN

Data types:
 Age                    int64
Salary                 int64
Join_date     datetime64[ns]
Height               float64
Department          category
Experience           float64
dtype: object