## How to use conditions for Data filtering

#### Filetering 
- selecting certain rows from a dataframe that meet certain conditions, this helps to narrow down the data towards whats relevant for analysis.

In [2]:
import pandas as pd

In [3]:
# sanmple dataset
data = {
    'Name': ['Alice', 'Bob', 'Charles', 'David', 'Eva'],
    'Age': [24, 37, 30, 22, 55],
    'Gender': ['F', 'M', 'M', 'M', 'F'],
    'Salary': [5000,60000, 55000, 80000, 45000]
} 

#Defing dataframe
df = pd.DataFrame(data)
print(df)

      Name  Age Gender  Salary
0    Alice   24      F    5000
1      Bob   37      M   60000
2  Charles   30      M   55000
3    David   22      M   80000
4      Eva   55      F   45000

### writing a condition

In [6]:
condition = df['Age'] > 30 # Looking for the people above 30
print(condition)

0    False
1     True
2    False
3    False
4     True
Name: Age, dtype: bool

In [8]:
condition = df['Age'] >= 30 # Looking for the people above or equal to 30
print(condition)

0    False
1     True
2     True
3    False
4     True
Name: Age, dtype: bool

In [9]:
#Filtering the dataframe
filtered_df = df[condition]
print(filtered_df)

      Name  Age Gender  Salary
1      Bob   37      M   60000
2  Charles   30      M   55000
4      Eva   55      F   45000

### Using multiple conditions

In [12]:
filtered_df = df[(df['Age'] > 25) & (df['Gender'] == 'M')]
print(filtered_df)

      Name  Age Gender  Salary
1      Bob   37      M   60000
2  Charles   30      M   55000

In [13]:
filtered_df = df[(df['Age'] > 60) & (df['Gender'] == 'M')]
print(filtered_df)

Empty DataFrame
Columns: [Name, Age, Gender, Salary]
Index: []

## Using query methods (More like sql, suported by pandas)

In [14]:
df.query("Age > 25 and Gender == 'M'")

      Name  Age Gender  Salary
1      Bob   37      M   60000
2  Charles   30      M   55000