## Groupby: 
- grouping or spliting data based on some criteria,  based on categories or values in a coloumn.
  
## Aggregation:
- using functions like mean, sum, max , min etc

In [11]:
import pandas as pd

In [12]:
data = {
    'Region':['East', 'West','East','South', 'North', 'North'],
    'Name':['Alice', 'Bob','Charles','David', 'Eva', 'Darwin'],
    'Sales':[200, 150, 300, 100, 400, 600]
}

df = pd.DataFrame(data)
df

  Region     Name  Sales
0   East    Alice    200
1   West      Bob    150
2   East  Charles    300
3  South    David    100
4  North      Eva    400
5  North   Darwin    600

In [13]:
grouped = df.groupby('Region')

In [14]:
# Applying aggregation function
grouped['Sales'].sum()

Region
East      500
North    1000
South     100
West      150
Name: Sales, dtype: int64

In [15]:
# Applying aggregation function: mean per region
grouped['Sales'].mean()

Region
East     250.0
North    500.0
South    100.0
West     150.0
Name: Sales, dtype: float64

In [16]:
# Applying aggregation function
grouped['Sales'].count()

Region
East     2
North    2
South    1
West     1
Name: Sales, dtype: int64

In [17]:
# Using multiple aggretion at once

grouped['Sales'].agg(['sum','mean','max','min'])

         sum   mean  max  min
Region
East     500  250.0  300  200
North   1000  500.0  600  400
South    100  100.0  100  100
West     150  150.0  150  150

In [18]:
# Applying aggregation function: Displaying sale per region
df.groupby(['Region', 'Sales'])['Sales'].sum()

Region  Sales
East    200      200
        300      300
North   400      400
        600      600
South   100      100
West    150      150
Name: Sales, dtype: int64

In [19]:
# resting back to default
grouped['Sales'].sum().reset_index()

  Region  Sales
0   East    500
1  North   1000
2  South    100
3   West    150

In [21]:
#sorting the values in the df
grouped = df.groupby('Region')['Sales'].sum()
sorted_group = grouped.sort_values(ascending=False)
print(sorted_group)

Region
North    1000
East      500
West      150
South     100
Name: Sales, dtype: int64