In [2]:
# Defining the varibales
x = 99
y = 23
z = 8

In [3]:
print("Addition", z + x)
print("Subtraction", y - z)
print("Multiplication", y * z)
print("Division", 99 / z)

Addition 107
Subtraction 15
Multiplication 184
Division 12.375

## Using variables into calculation

In [4]:
length = 8
width = 4
area = length * width
print("Area of rectangle: ",  area)

Area of rectangle:  32

In [6]:
number = [2.23, 99, 105, 114, 56]
print(number)

[2.23, 99, 105, 114, 56]

In [7]:
car = ['Audi', 'Mercedezbenz', "Toyota"]
print(car[1])

Mercedezbenz

## Iterating through a list

In [9]:
for num in number:
    print(num)

2.23
99
105
114
56

In [10]:
for num in number:
    print(num + 1)

3.23
100
106
115
57

In [11]:
for num in number:
    print(num - 1)

1.23
98
104
113
55

In [12]:
for num in number:
    print(num * 1)

2.23
99
105
114
56

In [13]:
for num in number:
    print(num / 1)

2.23
99.0
105.0
114.0
56.0

## How to store iteration results in a specific new list

In [15]:
doubled = []
for num in number:
    doubled.append(num * 2)

print("Doubled list:", doubled)

Doubled list: [4.46, 198, 210, 228, 112]

In [18]:
# Simple one liner AKA One line iteration
doubled = [num * 2 for num in number]
print(doubled)

[4.46, 198, 210, 228, 112]