In [2]:
import pandas as pd
import numpy as np

In [3]:
# sanmple dataset
data = {
    'Name': ['Alice', 'Bob', 'Charles', 'David', 'Eva'],
    'Age': [24, np.nan, 30, 22, np.nan],
    'Gender': ['F', 'M', np.nan, 'M', 'F'],
    'Score': [85,90, np.nan, 66, 76]
} 

#Defing dataframe
df = pd.DataFrame(data)
print(df)

      Name   Age Gender  Score
0    Alice  24.0      F   85.0
1      Bob   NaN      M   90.0
2  Charles  30.0    NaN    NaN
3    David  22.0      M   66.0
4      Eva   NaN      F   76.0

Handling missing data

In [4]:
print(df.isnull()) # finding missing data

    Name    Age  Gender  Score
0  False  False   False  False
1  False   True   False  False
2  False  False    True   True
3  False  False   False  False
4  False   True   False  False

In [5]:
#missing values per coloumn
print(df.isnull().sum())

Name      0
Age       2
Gender    1
Score     1
dtype: int64

In [6]:
#drop missing values, droping rows with missing values
df_drop_any = df.dropna()

In [7]:
df_drop_all = df.dropna(how='all')

In [8]:
# droping coloumns with missing values
df_drop_columns = df.dropna(axis=1)

Filling missing values

In [22]:
df_fill_constant = df.fillna(0) # fillna replaces values

In [10]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [11]:
df['Gender'] = df['Gender'].fillna(df['Gender'].mode())

In [13]:
# Forward filling -> filling with previous values
print(df)

      Name        Age Gender  Score
0    Alice  24.000000      F   85.0
1      Bob  25.333333      M   90.0
2  Charles  30.000000    NaN    NaN
3    David  22.000000      M   66.0
4      Eva  25.333333      F   76.0

In [15]:
df_ffill = df.ffill() # -> forward fill

In [17]:
df_ffill = df.bfill() # -> backward fill

In [23]:
## interpolating missing data / changing string values to numerical

df[df.select_dtypes(include=['number']).columns] = df.select_dtypes(include=['number']).interpolate

In [21]:
# Checking if all missing values are handled
print(df.isnull().sum())

Name      0
Age       0
Gender    1
Score     0
dtype: int64