In [1]:
name = "John"
age = 29
height = 6.3
is_student = True

print(name, age, height, is_student)

John 29 6.3 True

In [3]:
import pandas as pd
import numpy as np

# How to install libraries if they are not installed or dietected by the notebook
# !pip install pandas numpy

# working with numerical data

In [6]:
sales = [250, 800, 400, 120, 500]

sales_array = np.array(sales)

print("Total Sales:", sales_array.sum())
print("Average Sales:", sales_array.mean())
print("Maximum Sales:", sales_array.max())
print("Minimum Sales:", sales_array.min())

Total Sales: 2070
Average Sales: 414.0
Maximum Sales: 800
Minimum Sales: 120

# working with strings with specific dataframes

In [10]:
#Creating a formula one dataframe

data = pd.DataFrame({
    'Driver_Name': ['Max.V', 'Hammilton', 'Russel', 'Oscar', 'Lando', 'Antonelli', 'Gazly'],
    'NO.Champs_Won': [4, 8, 3, 4, 5, 4, 2],
    'Dep': ['HR', 'Management', 'Hotel', 'IT', 'R&D', 'Exco', 'General']
})

#data['Driver_Name_Lower'] = data['Driver_Name'].str.lower(),
data['Dep_Lower'] = data['Dep'].str.lower()
print(data)

  Driver_Name  NO.Champs_Won         Dep   Dep_Lower
0       Max.V              4          HR          hr
1   Hammilton              8  Management  management
2      Russel              3       Hotel       hotel
3       Oscar              4          IT          it
4       Lando              5         R&D         r&d
5   Antonelli              4        Exco        exco
6       Gazly              2     General     general

In [11]:
data['Salary'] = [5000666, 4888000, 25440000, 2342000, 3000000, 4000000, 6000000]

high_earners = data['Salary'] > 4930600

print("High Earners:\n", data[high_earners])

High Earners:
   Driver_Name  NO.Champs_Won      Dep Dep_Lower    Salary
0       Max.V              4       HR        hr   5000666
2      Russel              3    Hotel     hotel  25440000
6       Gazly              2  General   general   6000000

In [13]:
import numpy as np
import pandas as pd

employee_name = "Oscar"
employee_age = 29
employee_height = 5.4
is_student = True

print("Employee Info:", employee_name, "| Age:", employee_age, "| Height:", employee_height, "| Student:", is_student)

monthly_sales = [250, 800, 400, 120, 500]
sales_array = np.array(monthly_sales)

print("\n Sales Analysis:")
print("Total Sales:", sales_array.sum())
print("Average Sales:", sales_array.mean())
print("Highest Sales:", sales_array.max())

data = pd.DataFrame({ 
    'Name':

Employee Info: Oscar | Age: 29 | Height: 5.4 | Student: True