In [41]:
import pandas as pd

In [42]:
# sanmple dataset
data = {
    'Name': ['Alice', 'Bob', 'Charles', 'David'],
    'Age': [24, 37, 30, 22],
    'Score': [85, 90, 78, 100], # Score of a test
    'Country': ['NAM', 'RSA', 'UK', 'BOTS']
} 

#Defing dataframe
df = pd.DataFrame(data)
print(df)

      Name  Age  Score Country
0    Alice   24     85     NAM
1      Bob   37     90     RSA
2  Charles   30     78      UK
3    David   22    100    BOTS

## Sorting by single coloumns

In [43]:
# sorting the age in ascending order [small to big]
df_sorted_age = df.sort_values(by='Age')
print(df_sorted_age)

      Name  Age  Score Country
3    David   22    100    BOTS
0    Alice   24     85     NAM
2  Charles   30     78      UK
1      Bob   37     90     RSA

In [44]:
# sorting the score in ascending order [small to big]
df_sorted_age = df.sort_values(by='Score')
print(df_sorted_age)

      Name  Age  Score Country
2  Charles   30     78      UK
0    Alice   24     85     NAM
1      Bob   37     90     RSA
3    David   22    100    BOTS

## Sorting by multiple coloumns

In [45]:
df_sorted = df.sort_values(by=['Score', 'Age'], ascending=[False, True])
print(df_sorted)

      Name  Age  Score Country
3    David   22    100    BOTS
1      Bob   37     90     RSA
0    Alice   24     85     NAM
2  Charles   30     78      UK

## sorting out by index

In [46]:
df_sorted_index = df.sort_index()
print(df_sorted_index)

      Name  Age  Score Country
0    Alice   24     85     NAM
1      Bob   37     90     RSA
2  Charles   30     78      UK
3    David   22    100    BOTS

## Indexing
- selecting specific rows and coloumns by selecting labels or position
- Indexing  the way to get an unordered table into an order
- iloc -> position based
- location -> label based

In [47]:
# accessing a row by index location
df.set_index('Name', inplace=True)
print(df.loc['Charles'])

Age        30
Score      78
Country    UK
Name: Charles, dtype: object

In [48]:
# accessing a row by index position
print(df.iloc[3])

Age          22
Score       100
Country    BOTS
Name: David, dtype: object

In [51]:
# accessing specific rows and coloumns
print(df.loc[['Charles', 'Bob', 'Alice'], ['Age', 'Score', 'Country']])

         Age  Score Country
Name
Charles   30     78      UK
Bob       37     90     RSA
Alice     24     85     NAM

In [52]:
# Reseting interger values, going back to default
df_reset = df.reset_index()
print(df_reset)

      Name  Age  Score Country
0    Alice   24     85     NAM
1      Bob   37     90     RSA
2  Charles   30     78      UK
3    David   22    100    BOTS