## Value count and unique values in pandas
- used for exploring catergorical data

In [1]:
import pandas as pd

In [2]:
data = {
    'City':['New York', 'London', 'New York', 'Paris', 'London', 'Berlin', 'Paris', 'Paris'],
    'Gender':['Male', 'Female','Female','Male', 'Female', 'Male', 'Female', 'Male'],
    #'Sales':[200, 150, 300, 100, 400, 600]
}

df = pd.DataFrame(data)
df

       City  Gender
0  New York    Male
1    London  Female
2  New York  Female
3     Paris    Male
4    London  Female
5    Berlin    Male
6     Paris  Female
7     Paris    Male

In [6]:
# Using value count, determinig how many times a city is applied/ appears
df['City'].value_counts()

City
Paris       3
New York    2
London      2
Berlin      1
Name: count, dtype: int64

In [5]:
# Using value count, determinig how many times a Gender is applied/ appears
df['Gender'].value_counts()

Gender
Male      4
Female    4
Name: count, dtype: int64

In [7]:
# Using normalies trues in percentage instead of raw counts
df['Gender'].value_counts(normalize=True)

Gender
Male      0.5
Female    0.5
Name: proportion, dtype: float64

In [8]:
df['City'].value_counts(normalize=True)

City
Paris       0.375
New York    0.250
London      0.250
Berlin      0.125
Name: proportion, dtype: float64

## showing all unique values in the df

In [9]:
df['City'].unique()

array(['New York', 'London', 'Paris', 'Berlin'], dtype=object)

In [10]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

## Determing the exact numbers of the unique values in the dataset

In [11]:
df['Gender'].nunique()

2

In [12]:
df['City'].nunique()

4